################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FinalGroupProjectTeam8/.vs/config/applicationhost.config
/FinalGroupProjectTeam8/FinalGroupProjectTeam8.sln
